/* --- Home Page Styles --- */

#home-page-nav {
    color: #fff;
}

.hero-section {
    background-image: url(images/hero-image-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 886px;
    position: relative;
    margin-bottom: 50px;
}

.hero-content {
    position: absolute;
    color: #fff;
}

.hero-content h1 {
    font: 3rem 'Merriweather', Futura;
    line-height: 64px;
    color: #fff;
    position: absolute;
    left: 70px;
    top: 350px;
    width: 470px;
}

.hero-content button {
    background: #FF5964;
    color: #fff;
    margin-top: 510px;
    margin-left: 70px;
}

#hero-image {
    top: 0; 
    left: 0; 
	
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.best-sellers-container {
    display: grid;
    margin: auto auto 100px 50px;
    grid-template-columns: 350px 1fr;
}

.best-sellers-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
}

.testimonial-wrapper {
    display: grid;
    margin: auto 50px 100px 50px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.testimonial-content p {
    margin: 5px auto auto 90px;
    max-width: 470px;
    font: 36px 'Merriweather', sans-serif;
}

.testimonial-content button {
    float: left;
    margin-top: 150px;
}

.testimonial-img {
    
}
#quote-right {
    margin: auto auto auto 350px;
}
