/* --- Main Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: F7F7F7;
}

html {
    font-size: 15px;
    color: #334655;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font: 3rem 'Merriweather', sans-serif;
}

h3 {
    font: 400 2rem 'Raleway', sans-serif;
    margin-bottom: 150px;
}

button {
    background: #78C4FF;
    border: none;
    border-radius: 50px;
    font: 1rem 'Raleway', sans-serif;
    color: #fff;
    width: 220px;
    height: 45px;
}

.hero-section {
    background-image: url(images/hero-image-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 886px;
    position: relative;
    margin-bottom: 50px;
}

.hero-content {
    position: absolute;
    color: #fff;
}

.hero-content h1 {
    font: 3rem 'Merriweather', Futura;
    line-height: 64px;
    color: #fff;
    position: absolute;
    left: 70px;
    top: 350px;
    width: 470px;
}

.hero-content button {
    background: #FF5964;
    margin-top: 510px;
    margin-left: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    color: #334655;
    font-size: 18px;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

.cart {
    margin-top: 10px;
    margin-right: 20px;
    width: 38px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 60px;
    color: #fff;
}

nav ul li .down-arrow {
    padding: 5px;
    height: 30px;
}

.shop-btn {
    padding-left: 100px; 
}

a {
    text-decoration: none;
    color: #334655;
    display: flex;
    align-items: center;
}

#hero-image {
    top: 0; 
    left: 0; 
	
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.best-sellers-container, .product-scrolling-container {
    display: flex;
    flex-direction: row;
}

.best-sellers-content, .testimonial-content {
    margin: 0px auto 72px 50px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    margin-right: 20px;
}

.testimonial-wrapper {
    display: flex;
    justify-content: space-between;
}

.testimonial-content  {
    margin: 5px auto auto 90px;
}

.testimonial-content p {
    margin: 5px auto auto 90px;
    font: 36px 'Merriweather', sans-serif;
}

#quote-right {
    margin: auto auto auto 450px;
}

.product-header {
    background-color: #DDF0FF;
    margin-left: 50px;
    margin-right: 50px;
    height: 170px;
}

.product-header h1 {
    padding-top: 50px;
    padding-bottom: 10px;
}

hr {
    margin-top: 35px;
}
